[submodule "RadioHead"]
	path = common/RadioHead
	url = git@github.com:zskdan/RadioHead.git
	branch = fusex/master
[submodule "common/MPU-9250"]
	path = common/MPU9250
	url = git@github.com:fusex/SparkFun_MPU-9250_Breakout_Arduino_Library
[submodule "common/SdFat"]
	path = common/SdFat
	url = https://github.com/greiman/SdFat/
[submodule "common/Adafruit_GPS"]
	path = common/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS
[submodule "common/BMP280"]
	path = common/BMP280
	url = https://github.com/adafruit/Adafruit_BMP280_Library
[submodule "common/SPIMemory"]
	path = common/SPIMemory
	url = git@github.com:zskdan/SPIMemory.git
[submodule "common/Adafruit_Sensor"]
	path = common/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "common/Adafruit_BusIO"]
	path = common/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO/
[submodule "common/bgc-library"]
	path = common/bgc-library
	url = git@code.federation-openspacemakers.com:p/P0048/bgc-library.git
	branch = master
[submodule "common/MCP79412RTC"]
	path = common/MCP79412RTC
	url = git@github.com:zskdan/MCP79412RTC.git
[submodule "common/Time"]
	path = common/Time
	url = https://github.com/PaulStoffregen/Time
[submodule "common/HDC1080"]
	path = common/HDC1080
	url = git@github.com:zskdan/HDC1080.git
[submodule "common/SimpleSerialShell"]
	path = common/SimpleSerialShell
	url = https://github.com/philj404/SimpleSerialShell
[submodule "SimpleTimer"]
	path = common/SimpleTimer
	url = https://github.com/jfturcot/SimpleTimer
[submodule "common/ICM20948_WE"]
	path = common/ICM20948_WE
	url = https://github.com/wollewald/ICM20948_WE
[submodule "Seeed_ICM20600_AK09918"]
	path = common/Seeed_ICM20600_AK09918
	url = https://github.com/Seeed-Studio/Seeed_ICM20600_AK09918
[submodule "common/NeoHWSerial"]
	path = common/NeoHWSerial
	url = https://github.com/SlashDevin/NeoHWSerial
[submodule "common/NeoGPS"]
	path = common/NeoGPS
	url = https://github.com/SlashDevin/NeoGPS
[submodule "common/SparkFun_ICM_20948"]
	path = common/SparkFun_ICM_20948
	url = https://github.com/sparkfun/SparkFun_ICM-20948_ArduinoLibrary
