[submodule "RadioHead"]
	path = common/RadioHead
	url = git@github.com:zskdan/RadioHead.git
	branch = fusex/master
[submodule "common/MPU-9250"]
	path = common/MPU9250
	url = https://github.com/fusex/SparkFun_MPU-9250_Breakout_Arduino_Library
[submodule "common/SdFat"]
	path = common/SdFat
	url = https://github.com/greiman/SdFat/
[submodule "common/Adafruit_GPS"]
	path = common/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS
[submodule "common/BMP280"]
	path = common/BMP280
	url = https://github.com/adafruit/Adafruit_BMP280_Library
[submodule "common/SPIMemory"]
	path = common/SPIMemory
	url = https://github.com/Marzogh/SPIMemory/
[submodule "common/Adafruit_Sensor"]
	path = common/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "common/Adafruit_BusIO"]
	path = common/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO/
[submodule "common/bgc-library"]
	path = common/bgc-library
	url = git@code.federation-openspacemakers.com:p/P0048/bgc-library.git
	branch = master
[submodule "common/MCP79412RTC"]
	path = common/MCP79412RTC
	url = https://github.com/JChristensen/MCP79412RTC
[submodule "common/Time"]
	path = common/Time
	url = https://github.com/PaulStoffregen/Time
[submodule "common/HDC1080"]
	path = common/HDC1080
	url = https://github.com/closedcube/ClosedCube_HDC1080_Arduino
[submodule "common/SimpleSerialShell"]
	path = common/SimpleSerialShell
	url = https://github.com/philj404/SimpleSerialShell
